pytesseract
pandas
numpy
matplotlib
seaborn
openai
pyarrow #will soon become a required dependency of pandas. really useful as you can save large dataframes as .parquet files which are
#much smaller than csv files and much faster to load, I have seen about 10x in both size and speed.
tiktoken